<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
   
    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <div class="name">
                Balraj X
            </div>
            <div class="job">
                Professor
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#settings">Home</a>
                <hr align="center">
            </div>
            
            <div class="url">
                <a href="#settings">Logout</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>PROFILE</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Balraj X</td>
                        </tr>
                        
                       
                        <tr>
                            <td>Contact</td>
                            <td>:</td>
                            <td>9620471186</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>balrajbalu2001@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>AECS Layout</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
</body>
</html>